html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

.masthead {
  background-image: url("../images/logo-left.svg"), url("../images/logo-right.svg"), url("../images/masthead-bg.png");
  background-size: 50px auto, 50px auto, 200px auto;
  padding-top: 1em;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left top, right top, left top;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0em 0.5em 0.5em 0.5em;
  color: #512200;
}

body {
  margin: 0em;
  font-family: 'Dosis', sans-serif;
}

nav {
  text-align: center;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  float: left;
  width:25%;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(81, 34, 0, 0.5);
  padding: 0.5rem;
  padding-left: 1em;
  display: block;
}

nav a:hover {
  background-color: #512200;
}

h2 {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  top: 18em;
  color: white;
}

.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #6FC000;
  background-image: linear-gradient(to bottom, #388200, #6FC000);
}

a:hover {
  color: linear-gradient (to bottom, #388200, #214D00)
}


h3:hover {
  background-image: linear-gradient(to top, #003300, #006600)
}

.box {
  width: 50%;
  float: left;
}

.box-2 {
  width: 50%;
  float: right;
}

.box-3 {
  width: 50%;
  float: left;
}

.box-4 {
  width: 50%;
  float: right;
}

footer {
  background-color: rgba(81, 34, 0, 0.5);
  background-posotion: center 5px;
  margin: 0;
  clear: both;
  text-align: center;
  padding: 10px;
}

.f {
  width: 30px;
  z-index: 1000em;
}
