html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

.masthead {
  background-image: url("../images/icon.svg"), url("../images/icon.svg"), url("../images/masthead-bg.png");
  background-size: 50px auto, 50px auto, 200px auto;
  padding-top: 1em;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 10px 25px, calc(100% - 15px) 25px, left top;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0em 0.5em 0.5em 0.5em;
  color: #512200;
}

body {
  margin: 0em;
  font-family: 'Dosis', sans-serif;
}

nav {
  text-align: center;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  float: left;
  width:25%;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(81, 34, 0, 0.5);
  padding: 0.5rem;
  padding-left: 1em;
  display: block;
}

nav a:hover {
  background-color: #512200;
}

.dirt {
  position: relative;
}

.headline {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  bottom: 0;
  margin: 0;
  color: white;
  padding: 1em;
}

.btn {
  display: inline-block;
  left: 20%;
  width: 50%;
  bottom: 5px;
  padding: 4px;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5em;
  color: #fff;
  background-color: #6fbf44;
  background-image: linear-gradient(to top, #006600, #009900,#00FF00);
  position: absolute;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn2 {
  display: inline-block;
  left: 20%;
  width: 50%;
  bottom: 5px;
  padding: 4px;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5em;
  color: #fff;
  background-color: #6fbf44;
  background-image: linear-gradient(to top, #006600, #009900,#00FF00);
  position: absolute;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn3 {
  display: inline-block;
  left: 20%;
  width: 50%;
  bottom: 5px;
  padding: 4px;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5em;
  color: #fff;
  background-color: #6fbf44;
  background-image: linear-gradient(to top, #006600, #009900,#00FF00);
  position: absolute;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn4 {
  display: inline-block;
  left: 20%;
  width: 50%;
  bottom: 5px;
  padding: 4px;
  margin: 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5em;
  color: #fff;
  background-color: #6fbf44;
  background-image: linear-gradient(to top, #006600, #009900,#00FF00);
  position: absolute;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  text-align: center;
}

a:hover {
  color: linear-gradient (to bottom, #388200, #214D00)
}


h3:hover {
  background-image: linear-gradient(to top, #003300, #006600)
}

.box {
  width: 50%;
  float: left;
  position: relative;
}

.box-2 {
  width: 50%;
  float: right;
  position: relative;
}

.box-3 {
  width: 50%;
  float: left;
  position: relative;
}

.box-4 {
  width: 50%;
  float: right;
  position: relative;
}

footer {
  background-color: rgba(81, 34, 0, 0.5);
  background-position: center 5px;
  margin: 0;
  clear: both;
  text-align: center;
  padding: 1em;
}

.f {
  width: 30px;
  margin: 0 auto;
}
